.caseWrap {
  width: 90%;
  margin: auto;
}
.caseWrap h5 {
  display: flex;
  gap: 18px;
  margin-top: 24px;
  margin-bottom: 0px;
}
.caseWrap h5 span {
  color: var(--colour2);
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.caseWrap .briefWrap {
  margin-top: 56px;
  display: flex;
}

.caseWrap .briefWrap .brief,
.caseWrap .briefWrap .image {
  width: 50%;
}

.caseWrap .briefWrap .image img {
  height: 200px;
  max-width: 70%;
  object-fit: contain;
  margin-left: 10%;
}
.caseWrap .text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.caseWrap .mainImage {
  width: 100%;
}

.caseWrap .solutionWrap,
.caseWrap .impactWrap {
  margin: auto;
  width: 90%;
  margin-top: 77px;
}

.relevantCasesWrap .title {
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 121px;
}

.relevantCasesWrap .buttonWrap {
  display: flex;
  justify-content: center;
}
