@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap');

:root {
  --background-dark: #ef9000;
  --border: 3px solid black;
  --btn-light: #ffe0b1;
  --btn-dark: #ef9000;
  --highlight: #ffe0b1;
}
* {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation;
}
::selection {
  background: var(--highlight);
}
html,
body {
  font-family: 'Roboto Slab', sans-serif;
  background-color: #f0f0f0;
  width: 100%;
  font-size: 18px;
  overflow-x: hidden;
}
ul {
  margin-left: 2rem;
  padding-bottom: 1rem;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  padding-bottom: 0.5rem;
}

.showKeys {
  background: pink !important;
  color: red !important;
}
