:root {
  --colour1: #0e213f;
  --colour2: #5eb146;
  --white: #fff;

  --sub1: #b5c6d5;
  --sub2: #9fd090;
  --sub3: #004583;
  --sub4: #c34f81;
  --sub5: #f18700;

  --lightText: #8990a3;
}

@font-face {
  font-family: neuzeitGro;
  src: url("../static/NeuzeitGro-Reg.woff");
}

body {
  font-family: neuzeitGro;
  color: #333;
}

.ctaButton {
  color: white;

  background-color: var(--colour2);
  padding: 19px 53px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: inherit;
}

.secondaryButton {
  border-radius: 4px;
  border: 2px solid var(--colour2);
  color: var(--colour2);
  padding: 19px 53px;
  background: none;
}

.secondaryButton p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
