.caseCardsWrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  width: 90%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 8rem;
}

.caseCardsWrap article {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.caseCardsWrap article img {
  border-radius: 4px;
  height: 230px;
  object-fit: cover;
  width: 100%;
}

.caseCardsWrap article h5 {
  color: var(--colour2);
  font-size: 21px;
  line-height: 32.5px;
  font-weight: 400;
}

.caseCardsWrap article h4 {
  color: var(--colour1);
  font-size: 24px;
  font-weight: 700;
}

.caseCardsWrap article a {
  color: inherit;
  text-decoration: none;
}
