.heroWrap {
  height: 457px;
  background-color: var(--colour1);
  overflow: hidden;
  position: relative;
}

.heroWrap h2 {
  color: white;
  font-weight: 700;
  font-size: 48px;
  width: 50%;
  margin-top: 127px;
  margin-left: 80px;
  max-width: 400px;
}

.heroWrap .cta {
  color: white;
  margin-left: 80px;
  background-color: var(--colour2);
  padding: 19px 53px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: inherit;
}
.imageWrap {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: absolute;
  right: 3rem;
  top: -3rem;
}
.imageWrap img {
  height: 100%;
  object-fit: cover;
}
